<!-- Main menu -->
<div class="sidebar content-box" style="display: block;">
    <ul class="nav">
        <!-- Main menu -->
        <li>
            <a href="/admin/users">
                <i class="glyphicon glyphicon-eye-open"></i> User manager</a>
        </li>
        <li>
            <a href="/admin/article">
                <i class="glyphicon glyphicon-eye-open"></i> Article manager</a>
        </li>  
    </ul>
</div>